<div id="<%= dom_id recipe %>">
  <p>
    <strong>User:</strong>
    <%= recipe.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Cook time:</strong>
    <%= recipe.cook_time %>
  </p>

  <p>
    <strong>Servings:</strong>
    <%= recipe.servings %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= recipe.visibility %>
  </p>

</div>
