<!DOCTYPE html>
<html>
  <head>
    <title>MiniKitchen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= turbo_frame_tag 'modal' do %>
  <% end %>
    <div class="container container--white">
      <% if user_signed_in? %>
        <p class="mb-8">Signed in as <%= current_user.email %></p>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>